div.card {
	border: 3px solid #f98ccc;
    border-radius: 5px;
    margin: 2em;
    padding: 1em;
    width: 250px;
    text-align: center;
    min-height: 350px;
    background-color: #ffe6f2;
    color: #8080ff;
}
div.card img {
    border: double 6px #5721f3;
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif	
}

#cards-container {
  display: grid;
  height: 250px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

#homepage-img {
    width: 20em;
    height: 20em;
    display: block;
    margin: auto;
    border: 3px solid #f98ccc;
    border-radius: 5px;
}
#btn-container {
    display: block;
    margin: auto;
    text-align: center;
}

button {
    margin: 0 5px;
    background-color: #ffbce3;
    border-style: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 20px;
}

#about-container{
    margin: 20em auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}

#about-page {
    width: 80px;
    margin: auto;
    border: solid 2px pink;
    border-radius: 100px;
    height: 80px;
}

#about-page p {
    font-size: 12px;
    line-height: 1.5;
}