{% extends 'base.html' %}

{% block title %} Cards {% endblock %}

{% block js %}
	<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div id="cards-container">
    <!-- Mount Balloonicorn's card on to this element. -->
    <div class="card-componet" id="balloonicorn"></div>

    <!-- Mount Float's card on to this element. -->
    <div class="card-componet" id="float"></div>

    <!-- Mount Llambda's card on to this element. -->
    <div class="card-componet" id="llambda"></div>

    <div class="card-componet" id="xor"></div>

    <div class="card-componet" id="seedpy"></div>
<div>
{% endblock %}